{% extends 'base.html.twig' %}

{% block title %}Ajouter un role{% endblock %}

{% block body %}

    <div class="bg-white">
        <div class="pt-4 pb-4 col-12 bg-warning text-center">
            <h2 class="1 text-white">
                Ajouter un rôle
            </h2>
        </div>
        <div class="row rounded-4">
            <div class="col-md-3 text-center mt-5 pt-4 bg-tertiary">
                <h3>Ajouter un rôle</h3>
                <div class="text-center mb-2">
                    Ajouter un nouveau role sur notre première platforme conçu avec <b>Symfony</b>
                </div>
            </div>
            <div class="col-md-7 p-4 bg-light mb-2">
                {{ form_start(form_role) }}
                {{ form_widget(form_role) }}
                {{ form_end(form_role) }}
            </div>
        </div>
    </div>

{% endblock %}
